* {
  margin: 0;
  font-family: sans-serif;
}

.App {
  display: flex;
}

.sidebar {
  height: 100vh;
  width: 15%;
  padding-left: 20px;
  border-right: 1px solid #e8e8e8ff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;

  h1 {
    color: #454545ff;
  }

  *:not(h1) {
    color: #454545ff;
    font-size: 20px;
  }
}

#details-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  margin-right: 25px;

  h1 {
    padding-bottom: 20px;
    text-transform: uppercase;
  }
}

.apartment-specific-description {
  div {
    display: flex;
    padding: 0.8rem;
    justify-content: space-between;
  }

  div:nth-child(odd) {
    background-color: #e2e3e5ff;
  }
}

#detail-p {
  display: flex;
  justify-content: space-between;
  flex: 1;

  img {
    width: 50vw;
    height: 80vh;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
}

#links-div {
  display: flex;
  flex-direction: column;
  flex: 0.6;
}

.nav-link {
  padding: 1rem;
  text-decoration: none;
  font-weight: bold;

  &:hover {
    background-color: #97bf11ff;
    color: white;
  }
}

.social-icon {
  padding: 0.4rem;

  &:nth-child(3) {
    transform: scale(1.3);
    padding: 0.4rem 0.2rem;
  }
}

.apartment-image {
  width: 11vw;
  height: 23vh;
  border-radius: 50%;
}

.social-contact-container {
  margin-bottom: 2rem;
  text-align: center;

  p {
    margin-top: 1rem;
  }
}

.my-reservations-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  gap: 10%;

  h1 {
    align-self: center;
    font-weight: bold;
  }
}

.apartments-header-texts {
  align-self: center;
  text-align: center;

  h1 {
    font-size: 40px;
    padding-bottom: 10px;
  }

  span {
    opacity: 0.5;
    font-weight: bold;
  }
}

.houses-div {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  gap: 10vw;
  align-self: center;
  width: 60vw;
  scroll-snap-type: x mandatory;

  div {
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    align-items: center;

    p {
      opacity: 0.5;
    }
  }

  a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    // font-size: 17px;
    text-transform: uppercase;
  }
}

.houses-div::-webkit-scrollbar {
  width: 0;
}

.left-right-buttons {
  position: fixed;
  background-color: #97c00eff;
  width: 80px;
  height: 70px;
  top: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  &:hover {
    cursor: pointer;
  }
}

.direction-icons {
  transform: scale(1.3);
}

.right-button {
  right: 0;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.left-button {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.left-btn {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  position: static;
  align-self: flex-end;
  margin-bottom: 10vh;
}

.specific-apartment-back-btn-div {
  display: flex;
  gap: 20px;

  img {
    align-self: center;
  }
}

.popup-main-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(151, 192, 14, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.reserve-btn-detail-p {
  background-color: #97bf0fff;
  border: none;
  border-radius: 30px;
  padding: 0.9rem 1rem;
  color: white;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 18px;

  &:active {
    transform: scale(0.9);
  }

  &:hover {
    cursor: pointer;
  }

  .reserve-btn-icons {
    font-size: 20px;
  }

  .reserve-btn-icons:nth-child(2) {
    font-size: 23px;
  }
}

.close-icon-popup {
  font-size: 30px;

  &:hover {
    cursor: pointer;
  }
}

.delete-btn-detail-p {
  background-color: red;
  color: white;
  border: none;
  padding: 0.9rem 1rem;
  border-radius: 30px;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 1.4rem;

  & > * {
    font-size: 22px;
  }

  &:hover {
    cursor: pointer;
  }

  &:active {
    transform: scale(0.9);
  }
}